{
    "files": [
        "../arraylist.c",
        "../debug.c",
        "../json_c_version.c",
        "../json_object.c",
        "../json_object_iterator.c",
        "../json_pointer.c",
        "../json_tokener.c",
        "../json_util.c",
        "../json_visit.c",
        "../libjson.c",
        "../linkhash.c",
        "../printbuf.c",
        "../random_seed.c",
        "../strerror_override.c",
        "../tests/parse_flags.c"
    ],
    "compilation_cmd": "-Iinclude -I.. -I../tests",
    "val-printf-singleton-pointers": true,
    "val-int-for-pointer-equality": [
        "-1",
        "-2"
    ],
    "safe-arrays": false
}