.deps/
.libs/
/aclocal.m4
/autom4te.cache
/config.guess
/json_config.h
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/json.pc
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/stamp-h2
/tests/Makefile
/tests/Makefile.in
/tests/test1
/tests/test1Formatted
/tests/test2
/tests/test2Formatted
/tests/test4
/tests/testSubDir
/tests/test_parse_int64
/tests/test_parse
/tests/test_cast
/tests/test_null
/tests/test_printbuf
/Debug
/Release
*.lo
*.o
/libjson.la
